# VHDL (ModelSim + Quartus) and Notepad++

# Notepad backups
*.bak
*/nppBackup/*

# Quartus Project Files
*/db/*
*/incremental_db/*
*/output_files/*
*/simulation/modelsim/*
*.mti
*.mpf
*.cdb
*.hdb
*.qsf
*.qws
